In [1]:
import numpy as np
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('aug_train.csv')
df.sample(5)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
12330,24707,city_23,0.899,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,<10,Early Stage Startup,1,15,0.0
8145,8640,city_103,0.920,NaN,Has relevent experience,Part time course,Graduate,STEM,9,1000-4999,NGO,NaN,136,1.0
12551,27981,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,1000-4999,Pvt Ltd,>4,15,0.0
2236,31842,city_24,0.698,Female,Has relevent experience,no_enrollment,Masters,STEM,12,50-99,Pvt Ltd,3,6,0.0
7866,20549,city_21,0.624,Male,Has relevent experience,Full time course,Graduate,STEM,2,<10,Public Sector,2,83,0.0

In [3]:
#Basic information about the dataset
print("Basic information about the dataset")
print(df.info())

#Summary statistics
print("\nSummary Statistics")
print(df.describe())

#Check for missing values Percentage
print("\nMissing Values Percentage")
print(df.isna().sum()/len(df))

Basic information about the dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB
None

Summary Statistics
        enrollee_id  city_development_index  training_hours        target
count  19158.000000            19158.000000    19158.000000  19158.000000
mean   16875.358179                0.828848       65.366896      0.249348
std     9616.292592                0.123362       60.058462      0.432647
min        1.000000                0.448000        1.000000      0.000000
25%     8554.250000                0.740000       23.000000      0.000000
50%    16982.500000                0.903000       47.000000      0.000000
75%    25169.750000                0.920000       88.000000      0.000000
max    33380.000000                0.949000      336.000000      1.000000

Missing Values Percentage
enrollee_id               0.000000
city                      0.000000
city_development_index    0.000000
gender                    0.235306
relevent_experience       0.000000
enrolled_university       0.020148
education_level           0.024011
major_discipline          0.146832
experience                0.003393
company_size              0.309949
company_type              0.320493
last_new_job              0.022080
training_hours            0.000000
target                    0.000000
dtype: float64

Kolom Gender, COmpany size dan company type memiliki tingkat kekosongan data lebih dari 20%. --> Sebaiknya diapakan?

In [4]:
df['experience'].unique()

array(['>20', '15', '5', '<1', '11', '13', '7', '17', '2', '16', '1', '4',
       '10', '14', '18', '19', '12', '3', '6', '9', '8', '20', nan],
      dtype=object)

In [6]:
#Mengubah tipe data pada kolom-kolom yang belum sesuai
df['enrollee_id'] = df['enrollee_id'].astype(str)

df['experience'] = df['experience'].apply(lambda x: '0' if x=='<1' else x)
df['experience'] = df['experience'].apply(lambda x: '20' if x=='>20' else x)
# df['experience'] = df['experience'].astype(str).astype(int)

#?? pertanyaan untuk kolom company size + last job, sebaiknya diapakan? dijadikan kategori?

In [7]:
cats = ['enrollee_id','city', 'gender', 'relevent_experience', 'enrolled_university', 'education_level','major_discipline','company_size', 'company_type','last_new_job']
nums = ['city_development_index','experience','training_hours','target']

print(df[cats].describe())
print("\n", df[nums].describe())

       enrollee_id      city gender      relevent_experience  \
count        19158     19158  14650                    19158
unique       19158       123      3                        2
top           8949  city_103   Male  Has relevent experience
freq             1      4355  13221                    13792

       enrolled_university education_level major_discipline company_size  \
count                18772           18698            16345        13220
unique                   3               5                6            8
top          no_enrollment        Graduate             STEM        50-99
freq                 13817           11598            14492         3083

       company_type last_new_job
count         13018        18735
unique            6            6
top         Pvt Ltd            1
freq           9817         8040

        city_development_index  training_hours        target
count            19158.000000    19158.000000  19158.000000
mean                 0.828848       65.366896      0.249348
std                  0.123362       60.058462      0.432647
min                  0.448000        1.000000      0.000000
25%                  0.740000       23.000000      0.000000
50%                  0.903000       47.000000      0.000000
75%                  0.920000       88.000000      0.000000
max                  0.949000      336.000000      1.000000

In [ ]:
df

In [ ]:
#Create count plots for categorical colums
cats1=['relevent_experience', 'enrolled_university', 'education_level','major_discipline','company_size', 'company_type','last_new_job']
plt.figure(figsize=(12,20))
for i, col in enumerate(cats1, 1):
    plt.subplot(4, 2, i)
    sns.countplot(data=df, x=col)
    plt.title(f'Count Plot of {col}')
    plt.xticks(rotation = 25)
plt.tight_layout()
plt.show()

In [ ]:
#Create histograms for numeric columns
df[nums].hist(bins=15, figsize=(12,8))
plt.suptitle('Histograms of Numeric Columns')
plt.show()

In [ ]:
plt.figure(figsize=(8, 8))
sns.heatmap(df.corr(), cmap='Blues', annot=True, fmt='.2f')